.footer-box {
    padding: 0px 40px 0px 40px;
    margin-bottom: 100px;
    width: 100%;
    margin-top: 100px;
    /* border: 1px solid red; */

}

.foot-items {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-evenly;
    text-align: left;
    margin: auto;
    position: relative;
    bottom: 80px;
}



.head {
    font-weight: 500;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
    color: blue;
}

.circle-log {
    width: 80px;
    float: left;
    margin-left: 60px;
    position: relative;
    bottom: 50px;
}

.social-icon {
    display: flex;
    gap: 10px;
    float: right;
    margin-right: 60px;
    margin-top: 70px;
    position: relative;
    bottom: 100px;
}

.social-icon img {
    width: 30px;

}

.foot-items div p {
    font-size: 15px;
    font-weight: lighter;
}

.foot-items div p:hover {
    margin-left: 5px;
    transition: 300ms linear;
    cursor: pointer;
}

@media screen and (max-width:820px) {
    .footer-box {
        /* border: 1px solid green; */
        margin-top: 100px;
        padding: 10px;

    }

    .foot-items {
        /* border: 1px solid red; */
        grid-template-columns: repeat(2, 1fr);
    }

    .foot-items>div {
        /* border: 1px solid gold; */
        width: 100%;
    }

}

@media screen and (max-width:420px) {
    .footer-box {
        /* border: 1px solid green; */
        margin-top: 100px;
        padding: 10px;

    }

    .foot-items {
        /* border: 1px solid red; */
        grid-template-columns: repeat(1, 1fr);
    }

    .foot-items>div {
        width: 100%;
    }

    .social-icon {
        /* border: 1px solid green; */
        width: 80%;
        /* display: flex;
        justify-content: center; */
    }
}