.box {
    /* border: 1px solid red; */
    padding: 40px;
    width: 348px;
    margin: auto;
    text-align: left;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    bottom: 160px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
}

.box div img {
    border-radius: 50%;
    width: 100px;
}

.p {
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.5;
}

.okta {
    /* background-color: black; */
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    bottom: 160px;
}

.okta img {
    width: 100px;
}

/* .robinCard {
    border: 1px solid blue;
} */

.quot {
    position: relative;
    width: 60px;
    left: 220px;
    bottom: 66px;
}

@media (max-width:820px) {
    .robinCard {

        background: linear-gradient(90deg, rgba(59, 35, 153, 1) 35%, rgba(108, 28, 136, 1) 100%);

        padding-top: 50px;
    }

    .box {
        /* border: 1px solid gold; */
        bottom: 0px;
    }

    .okta {
        display: none;
        /* bottom: 0px; */
    }

   
}

@media (max-width:420px) {
    .robinCard {
        /* border: 2px solid rebeccapurple; */
        background: linear-gradient(90deg, rgba(59, 35, 153, 1) 35%, rgba(108, 28, 136, 1) 100%);
        /* position: relative;
        top: 60px; */
        padding-top: 50px;
    }

    .box {
        bottom: 0px;
    }

    .okta {
        display: none;
    }
}