.signup-container {
    text-align: left;
}

.signup-container-inner {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 32% 68%);
}

.signup-container-inner>div {
    /* border: 1px solid green; */
    /* height: 300px; */
}

#swiper-con>.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    /* border: 1px solid red; */
    transform: rotate(0deg);
    position: absolute;
    bottom: 30px;

}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    border: 2px solid white;
    border-radius: unset;
    padding: 3px;
}

.swiper-pagination-bullet {
    background: var(--swiper-pagination-bullet-inactive-color, rgb(250, 204, 1));
}

.inpuBox-box {
    /* border: 1px solid red; */
    width: 70%;
    padding: 0px 30px;
    margin: auto;
}



.inpu-main-box {
    border: 1px solid rgb(173, 171, 171);
    padding: 30px 40px;
    border-radius: 10px;
}

.crt-sand-acc {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    left: 50px;
    top: 25px;
    background-color: white;
    width: 45%;
    text-align: center;
}

.inpu-main-box>input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 20px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.inpu-main-box>h3 {
    font-weight: 16px;
    color: grey;
}

.PhoneInput {
    display: flex;
    gap: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

.PhoneInputCountry {
    display: flex;
    gap: 10px;

}

.PhoneInputCountrySelect {
    width: 20px;
    border: none;
    background: none;
}

.PhoneInputCountryIconImg {
    width: 20px;
    height: 30px;

}

.PhoneInputInput {
    border: none;
    outline: none;
}

.signup-checkbox {
    display: flex;
    margin-top: 20px;
}

.signup-checkbox>p {
    font-size: 16px;
    font-weight: lighter;
    color: grey;
}

.signup-btn {
    font-size: 20px;
    padding: 12px 15px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
}

.bg-purple {
    background-color: #500bd2;
}