.con2-inner-box {
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 30% 60%);
    text-align: left;
    margin-bottom: 100px;
}

/* .con2-inner-box>div {
    border: 1px solid rgb(102, 128, 0);
} */
.con2-main-box {
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    bottom: 100px;
}

.con2-first-box {
    padding-top: 20px;
}

.head-para {
    /* border: 1px solid green; */
    padding-left: 80px;
}

.head-para>h1 {
    font-size: 30px;
    font-weight: bold;
    width: 70%;
}

.head-para>p {
    font-weight: lighter;
    width: 85%;
    color: grey;
    font-size: 16px;
    line-height: 1.5;
}

.con2-second-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 40px;
}

.con2-second-box>div {
    padding: 40px;
    /* border: 1px solid gray; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: transform 400ms;
}

.con2-second-box>div:hover {
    position: relative;
    bottom: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(-10px);
}

.con2-second-box>div>h1 {
    font-weight: bold;
}

.con2-second-box>div>span {
    color: blue;
    float: right;
}

.con2-second-box>div>p {
    font-weight: lighter;
    height: 75px;
    color: grey;
    font-size: 16px;
    line-height: 1.5;
}

/* .con2-last-header {
    border: 1px solid red;
} */

.con2-last-header>h1 {
    font-size: 35px;
    font-weight: bold;
}

.con2-last-header>p {
    font-weight: lighter;
    text-align: center;
    margin: auto;
    color: grey;
    width: 33%;
}

.nav2 {
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 80px;
    border-bottom: 1px solid rgb(165, 158, 185);
    /* border-top: 1px solid rgb(165, 158, 185); */
    padding-bottom: 0px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.nav2>p {
    font-size: 16px;
    font-weight: lighter;
    color: gray;
}

@media screen and (max-width:820px) {
    .con2-main-box {
        /* border: 1px solid red; */
    }

    .con2-inner-box {
        /* border: 1px solid green; */
        display: flex;
        flex-direction: column;
    }

    .head-para>h1 {

        /* border: 1px solid red; */
        font-size: 35px;
        font-weight: bold;
        width: 100%;
    }

    .head-para>p {
        font-size: 20px;
    }

    .animate-div-box {
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav2 {
        display: none;
    }

    .con2-last-header>h1 {

        /* border: 1px solid red; */
        text-align: center;
    }

    .con2-last-header>p {
        text-align: center;
        width: 80%;
        font-size: 18px;
        line-height: 1.7;
    }
}

@media screen and (max-width:420px) {

    .con2-main-box {
        top: 0px;
        /* border: 1px solid red; */
    }

    .con2-inner-box {
        /* border: 1px solid green; */
        display: flex;
        flex-direction: column;
    }

    .con2-first-box {
        padding: 0px;
    }

    .head-para {
        padding: 0px;
    }

    .head-para>h1 {
        font-size: 25px;
        font-weight: bold;
        width: 100%;
    }

    .head-para>p {
        width: 100%;
    }

    .con2-second-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .con2-last-header {
        padding: 10px;
    }

    .con2-last-header>h1 {
        text-align: left;
    }

    .con2-last-header>p {
        text-align: left;
        width: 100%;
        font-size: 18px;
        line-height: 1.7;
    }

    .nav2 {
        display: none;
    }

    .con2-first-box img {
        width: 100%;
    }

}