.des-img {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2, 40% 60%);
    width: 60%;
    margin: auto;
    /* padding: 20px; */
    text-align: left;
}

.des-img-box {
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 100px;
    /* margin-bottom: 50px; */
    position: relative;
    bottom: 100px;
}

.des-img>div:nth-child(1) {
    /* border: 1px solid green; */
    padding: 40px 20px;
}

.des-img>div>h1 {
    font-size: 22px;
    font-weight: bold;
    width: 90%;
    text-align: left;
    margin-bottom: 30px;
}

.des-img>div>p {
    font-weight: lighter;
    width: 80%;
    text-align: left;
    line-height: 1.7;
}

.learn {
    /* border: 1px solid hotpink; */
    margin-top: 60px;

}

.learn a {
    color: blue;
    font-weight: bold;

}

.learn :hover {
    text-decoration: underline;
}

.tick {
    display: grid;
    grid-template-columns: repeat(2, 3% 95%);
    gap: 20px;
    align-items: center;
    /* border: 1px solid blue; */
    height: 35px;
    width: 100%;
}

.tick>img {
    width: 16px;
    /* position: relative;
    left: -10px; */
}

.tick>p {
    font-weight: lighter;
}

.chart-img>img {
    /* border: 4px solid blueviolet; */
    height: 100%;
}

/* .LeaderSpringBanner {
    border: 1px solid red;
} */

.LeaderSpringBanner>img {
    width: 70%;
}

@media screen and (max-width:820px) {
    .des-img-box {
        /* border: 1px solid rgb(0, 208, 255); */
        padding: 20px;
        padding-top: 0px;
    }

    .des-img {
        border: 1px solid rgb(211, 207, 207);
        /* grid-template-columns: repeat(1, 1fr); */
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .des-img img {
        width: 100%;
    }
}

@media screen and (max-width:420px) {
    .des-img-box {
        /* border: 1px solid rgb(0, 208, 255); */
        padding: 10px;
        margin-top: 100px;
    }

    .des-img {
        /* border: 1px solid greenyellow; */
        /* grid-template-columns: repeat(1, 1fr); */
        display: flex;
        flex-direction: column;
        width: 100%;
        /* margin-bottom: -100px; */
    }

    .des-img img {
        width: 100%;
    }

    .LeaderSpringBanner {
        height: 200px;
        margin-top: 30px;
    }

    .LeaderSpringBanner>img {
        width: 100%;
    }
}